@mixin btn-outline() {
    font-weight: 600;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
}

@mixin btn-outline-color($bg, $bg-hover, $border,$border-hover,  $color, $color-hover) {
    background-color: $bg;
    border-color: $border;
    color: $color;

    &.btn--is-active {
        @include btn-outline-active-color($bg-hover, $border-hover, $color-hover);
        
        @include media-breakpoint-up(lg) {
            @include hover() {
                @include btn-outline-active-color(lighten($bg-hover, 10), $border-hover, $color-hover);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        @include hover() {
            @include btn-outline-active-color($bg-hover, $border-hover, $color-hover);
        }
    }

    @include media-breakpoint-down(lg) {
        @include btn-outline-active-color($bg, $border, $color)
    }
}

@mixin btn-outline-active-color($bg, $border, $color) {
    background-color: $bg !important;
    border-color: $border !important;
    color: $color !important;
}