.carousel {
    &-post {
        @include media-breakpoint-down(md) {
            margin-top: -1rem;
            margin-left: -1rem;
            margin-right: -1rem;
        }

        .carousel {
            &-inner {
                margin-bottom: 70px;
            }

            &-indicators {
                bottom: -70px;

            }
        }
    }

    &-icon {
        margin-bottom: 25px;

        .carousel {
            &-indicators {
                margin-bottom: -25px;
            }

            &-control-prev,
            &-control-next {
                color: $el-primary;
                top: -50px;
                bottom: unset;
                left: unset;
                right: 0;
                width: 12px;
                opacity: 1;
                font-size: 16px;

                &.disabled,
                i.disabled {
                    color: transparentize($el-dark, .8);
                    pointer-events: none;
                }
            }

            &-control-prev {
                margin-right: 35px;
            }
        }
    }

    &-indicators {

        [data-bs-target] {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $el-l-light;

            &.active {
                background-color: $el-primary;
            }
        }
    }
}