.icon {
    &-circle {
        @extend %position-relative;

        i {
            z-index: 1;

            &:before,
            &:after {
                @extend %position-absolute;

                top: 50%;
                transform: translateY(-50%);
            }

            &:before {
                font-size: 12px;
                left: 4px;
            }

            &:after {

                content: '';
                left: 0;
                width: 22px;
                height: 22px;
                border-radius: 100%;
                background-color: $el-l-light;
                z-index: -1;
            }
        }

        > p {
            margin-left: 30px;
        }
    }

    &-square {
        &__icon {
            @extend %position-relative;

            width: 67px;
            height: 67px;
            border-radius: 10px;
            overflow: hidden;
            background-color: $el-lr-primary;

            i {
                @extend %position-absolute;

                color: $el-primary;
                font-size: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__text {
            h3 {
                font-size: 14px;
            }

            p {
                color: $el-d-light;
            }
        }
    }
}