.icon {
    &-circle {
        @extend %position-relative;

        &__image:before,
        &__image img,
        i:before,
        i:after,
        svg {
            @extend %position-absolute;

            top: 50%;
            transform: translateY(-50%);
        }

        &__image:before,
        i:before {
            content: '';
            left: 0;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            background-color: $el-l-light;
            z-index: -1;
        }

        &__image,
        i {
            z-index: 1;
        }

        &__image {
            img,
            svg {
                left: 4px;
            }
        }

        i {
            &:before {
                font-size: 12px;
                left: 4px;
            }
        }

        > p {
            margin-left: 30px;
        }

        &--lg {
            .icon-circle {
                &__image,
                &__image:before,
                i:before {
                    width: 40px;
                    height: 40px;
                }

                &__image {
                    @extend %position-relative;

                    img,
                    svg {
                        left: 10px;
                    }
                }
            }
        }
    }

    &-square {
        &__icon {
            @extend %position-relative;

            width: 67px;
            height: 67px;
            border-radius: 10px;
            overflow: hidden;
            background-color: $el-lr-primary;

            i {
                @extend %position-absolute;

                color: $el-primary;
                font-size: 30px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__text {
            h3 {
                font-size: 14px;

                @include media-breakpoint-down(lg) {
                    margin-bottom: 2px;
                }
            }

            p {
                color: $el-d-light;
            }

            h3, p {
                @include media-breakpoint-down(lg) {
                    font-size: 12px;
                }
            }
        }
    }
}

